<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Fill out your MadLib!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Fill in your name and your friend's name to create your custom postcard!</h1>
    <form action="/result" method="post">
    <label for="inputOne">Input one</label>
    <input id="inputOne" name="inputOne" type="text">
    <label for="inputTwo">Input two</label>
    <input id="inputTwo" name="inputTwo" type="text">
    <label for="inputThree">input three</label>
    <input id="inputThree" name="inputThree" type="text">
    <label for="inputFour">inpute four</label>
    <input id="inputFour" name="inputFour" type="text">
    <button type="submit">Go!</button>
    </form>
  </body>
</html>
