<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Madlib</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>MadLib</h1>
    <p>@Model.InputOne</p>
    <p>@Model.InputTwo</p>
    <p>@Model.InputThree</p>
    <p>@Model.InputFour</p>
  </body>
</html>